<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="style_project.css" />
  </head>
  <body>
    <div>
      <div>
        <ul class="ul-list">
          <li class="li" is-active>
            <a class="li-a-1 underline" href="/">Home</a>
          </li>
          <li class="li">
            <a class="li-a-2 underline" href="/about">About me</a>
          </li>
          <li class="li">
            <a class="li-a-3 underline" href="/projects">Projects</a>
          </li>
          <li class="li">
            <a class="li-a-3 underline" href="/contact">Let's connect</a>
          </li>

          <a href="" class="navbar-bar-toggler-icon">
            <img
              src="/Images/icons8-menu.svg"
              height="50px"
              width="50px"
              alt=""
            />
          </a>

          <a href="" class="navbar-close-toggler-icon">
            <img
              src="/Images/icons8-close.svg"
              height="50px"
              width="50px"
              alt=""
            />
          </a>
        </ul>
      </div>
      <sidebar class="sidebar-container">
        <a href="/" class="sidebar-items">Home</a>
        <a href="/about" class="sidebar-items">About</a>
        <a href="/Component/Project.html" class="sidebar-items">Projects</a>
        <a href="/connect" class="sidebar-items">Connect</a>
      </sidebar>

      <h1 class="heading">Projects</h1>
      <div class="row">
        <div class="col">
          <h2>CalorieFit</h2>
          <h4>September 2021</h4>
          <p>
            Calculate the amount of calories you consume on your daily basis.
          </p>
          <div class="btn-container">
            <button type="submit" class="btn-primary">Live Project</button>
            <button type="submit" class="btn-secondary">View Code</button>
          </div>
        </div>
        <div class="col">
          <h2>CalorieFit</h2>
          <h4>September 2021</h4>
          <p>
            Calculate the amount of calories you consume on your daily basis.
          </p>
          <div class="btn-container">
            <button type="submit" class="btn-primary">Live Project</button>
            <button type="submit" class="btn-secondary">View Code</button>
          </div>
        </div>
        <div class="col">
          <h2>GIPHY TALK</h2>
          <h4>September 2021</h4>
          <p>Hangout with some cool giphy's and if like it than share it.</p>
          <div class="btn-container">
            <button type="submit" class="btn-primary">Live Project</button>
            <button type="submit" class="btn-secondary">View Code</button>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <p class="footerText">
          Site under construction. Keeps on changing every week.
        </p>
      </div>
    </footer>
    <script src="proj_scripts.js"></script>
  </body>
</html>
