<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="style_project.css" />
  </head>
  <body>
    <div>
      <div>
        <ul class="ul-list">
          <li class="li">
            <a class="li-a-1 underline" href="/">Home</a>
          </li>
          <li class="li">
            <a class="li-a-2 underline" href="/index.html#about">About me</a>
          </li>
          <li class="li">
            <a class="li-a-3 underline" href="/Component/Project.html"
              >Projects</a
            >
          </li>
          <li class="li">
            <a class="li-a-3 underline" href="/index.html#connect"
              >Let's connect</a
            >
          </li>

          <a href="" class="navbar-bar-toggler-icon">
            <img
              src="/Images/icons8-menu.svg"
              height="50px"
              width="50px"
              alt=""
            />
          </a>

          <a href="" class="navbar-close-toggler-icon">
            <img
              src="/Images/icons8-close.svg"
              height="50px"
              width="50px"
              alt=""
            />
          </a>
        </ul>
      </div>
      <sidebar class="sidebar-container">
        <a href="/" class="sidebar-items">Home</a>
        <a href="/index.html#about" class="sidebar-items">About</a>
        <a href="/Component/Project.html" class="sidebar-items">Projects</a>
        <a href="/index.html#connect" class="sidebar-items">Let's Connect</a>
      </sidebar>

      <h1 class="heading">Projects</h1>
      <div class="row">
        <div class="col">
          <h2>CalorieFit</h2>
          <h4>September 2021</h4>
          <p>
            Calculate the amount of calories you consume on your daily basis.
          </p>
          <p class="tech-stack">
            TechStack : React, Firebase, ReactStrap, Bootstrap
          </p>
          <div class="btn-container">
            <a
              href="https://caloriefit.netlify.app/"
              target="__blank"
              class="btn-primary"
              >Live Project
            </a>
            <a
              href="https://github.com/Samarth1002/CalorieFit"
              class="btn-secondary"
              target="__blank"
              >View Code
            </a>
          </div>
        </div>
       
        <div class="col">
          <h2>Giphy talks</h2>
          <h4>September 2021</h4>
          <p>Hangout with some cool giphy's and if like it than share it.</p>
          <p class="tech-stack">TechStack : React, ReactStrap, Bootstrap</p>
          <div class="btn-container">
            <a
              href="https://giphytalks.netlify.app/"
              class="btn-primary"
              target="__blank"
            >
              Live Project</a
            >

            <a
              href="https://github.com/Samarth1002/GiphyTalks"
              target="__blank"
              class="btn-secondary"
              >View Code</a
            >
          </div>
        </div>

        <div class="col">
          <h2>Rainbow Assng</h2>
          <h4>January 2022</h4>
          <p>
            Tried to replicate the website using React (!responsive).
          </p>
          <p class="tech-stack">TechStack : React, ReactStrap, Bootstrap</p>
          <div class="btn-container">
            <a
              href="https://clone-site-7e4d39.netlify.app/"
              class="btn-primary"
              target="__blank"
            >
              Live Project</a
            >

            <a
              href="https://github.com/Samarth1002/Rainbow-Assng"
              target="__blank"
              class="btn-secondary"
              >View Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <p class="footerText">Site under Construction , I'll keep updating.</p>
      </div>
    </footer>
    <script src="proj_scripts.js"></script>
  </body>
</html>
