* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(129, 119, 119);
}
.container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  position: absolute;
}

.ul-list_projects {
  border: 1px solid;
  height: 5rem;
  color: #000;
  display: flex;
  text-decoration-style: none;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.underline {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.3rem;
}
.li > a {
  color: #000;
}
.heading {
  display: flex;
  justify-content: center;
  height: 5rem;
  border: 1px dashed;
  align-items: center;
}
.row {
  display: flex;
  border: 2px solid blue;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: row;
  align-content: center;
  margin: 5rem;
}

.col {
  display: flex;
  border: 2px solid rgb(255, 0, 234);
  margin: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 15rem;
  min-height: 20rem;
}

.col h2,
h4 {
  margin: 15px 5px;
}

.col p {
  font-size: 1.1rem;
  margin: 1rem;
  text-align: center;
}

.btn-container {
  border: 2px solid rgb(0, 255, 21);
  display: flex;
  margin: 10px;
  padding: 10px;
  margin: auto;
  width: 100%;
}

.btn-primary {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border-right-color: #fff;
  border-bottom-color: #fff;
  color: #000;
  font-size: 1rem;
  width: 100%;
}

.btn-secondary {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border-right-color: #fff;
  border-bottom-color: #fff;
  font-size: 1rem;
  width: 100%;
}
.footer {
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 25px;
  padding: 0.5rem;
}

.ul-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  background-color: #6c63ff;
  padding: 1.5rem;
}

@media screen and (min-width: 600px) {
  .ul-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar-bar-toggler-icon {
    display: none;
  }

  .navbar-close-toggler-icon {
    display: none;
  }
}

@media screen and (max-width: 601px) {
  .navbar-bar-toggler-icon {
    display: flex;
  }
  .navbar-close-toggler-icon {
    display: none;
  }
  .li {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  .navbar-close-toggler-icon > img {
    display: none;
  }
  .navbar-bar-toggler-icon > img {
    display: none;
  }
}
