@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(245, 245, 245);
}
.container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  position: absolute;
}

.ul-list_projects {
  /* border: 1px solid; */
  height: 5rem;
  color: #ffffff;
  display: flex;
  text-decoration-style: none;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  font-weight: 400;
}
.underline {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.3rem;
}
.li > a {
  color: #ffffff;
}
.heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  height: 5rem;
  /* border: 1px dashed; */
  align-items: center;
}
.row {
  display: flex;
  /* border: 2px solid blue; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: row;
  align-content: center;
  margin: 5rem;
}

.col {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 15rem;
  min-height: 20rem;
  box-shadow: 0px 0px 0px 0px #766f6f, 0px 0px 14px 0px #747272;
  border-radius: 3rem;
}

.col h2,
h4 {
  margin: 25px 5px 0px;
  font-family: "Roboto", sans-serif;
}

.col p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin: 12px;
  text-align: center;
}

.btn-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  margin: auto;
  width: 100%;
}

.btn-primary {
  font-family: "Roboto", sans-serif;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border-right-color: #fff;
  border-bottom-color: #fff;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  background-color: #6c63ff;
  text-decoration: none;
  box-shadow: inset 0px 0px 0px 0px #fff, inset 20px 17px 25px -7px #1f1e1e;
}

.btn-secondary {
  font-family: "Roboto", sans-serif;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border-right-color: #fff;
  border-bottom-color: #fff;
  font-size: 1rem;
  width: 100%;
  text-decoration: none;
  /* border: 2px solid #6c63ff; */
  text-align: center;
  box-shadow: 0px 0px 0px 0px #766f6f, 0px 0px 14px 2px #747272;
}
.footer {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 25px;
  padding: 0.5rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.ul-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  background-color: #6c63ff;
  padding: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

@media screen and (min-width: 600px) {
  .ul-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar-bar-toggler-icon {
    display: none;
  }

  .navbar-close-toggler-icon {
    display: none;
  }
}

@media screen and (max-width: 601px) {
  .ul-list {
    box-shadow: 0px 16px 63px -9px #000000, 0px 20px 39px -33px #f7f7f7;
  }
  .navbar-bar-toggler-icon {
    display: flex;
  }
  .navbar-close-toggler-icon {
    display: none;
  }
  .li {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  .navbar-close-toggler-icon > img {
    display: none;
  }
  .navbar-bar-toggler-icon > img {
    display: none;
  }
  .sidebar-container > a {
    display: none;
  }

  sidebar {
    display: none;
  }

  .sidebar-items {
    display: none;
  }
}

.sidebar-container {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #6c63ff;
}

.sidebar-items {
  margin: 1px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.tech-stack {
  font-family: "Roboto", sans-serif;
}
